html {
    box-sizing: border-box;
}

h1 {
	font-size: 35px;
}

a {
	text-decoration: none;
	color: black;
}

body.scroll-lock {
	overflow: hidden;
}

.color {
    color: #FFD700;
}

.yellow-button {
	padding: 10px 20px;
   	font-size: 12px;
	font-weight: 700;
	background-color: yellow;
	cursor: pointer;
}

.yellow-button:hover {
	background-color: #f0f02f;
}

.lesson {
    position: relative;
    padding: 30px 0px 0px 0px;
}

.lesson__selected {
	margin: 20px;
	padding: 15px;
    background-color: #794f45;
    color: #fff;
}

.lesson__block {
    margin: 0px auto;
    width: 500px;
    height: 300px;
    padding: 15px;
    border: 20px solid #7a956b;
    background-color: #794f45;
    overflow: auto;
    font-size: 20px;
    line-height: 150%;
}

.lesson__block p:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.lesson__item {
	padding: 2px 20px;
	display: inline-block;
	background-color: #f3ea71;
}










