html {
    box-sizing: border-box;
}

h1 {
	font-size: 35px;
}

.color {
    color: #FFD700;
}

.button {
    padding: 15px 10px;
    background: yellow;
    border: 0px;
    border-radius: 5px;
    font-weight: 500;
}

.yellow-button {
   font-size: 12px;
   padding: 10px 20px;
   background-color: yellow;
}

.lesson {
    position: relative;
    padding: 30px 0px 0px 0px;
}

.lesson__selected {
    background-color: #794f45;
    padding: 15px;
    color: #fff;
}

.lesson__block {
    margin: 0px auto;
    width: 500px;
    height: 300px;
    padding: 15px;
    border: 20px solid #7a956b;
    background-color: #794f45;
    overflow: auto;
    font-size: 20px;
    line-height: 150%;
}

.lesson__block p:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.block {
    margin-top: 20px;
    padding: 15px;
    max-width: 35%;
    background: #E9967A;
}

.block__inner {
    margin: 10px;
    padding: 15px;
    background: #66CDAA;
}

.block__inner-inner {
    margin: 10px;
    padding: 15px;
    background: #FFE4B5;
}

.menu {
   display: inline-block; 
}

.menu__button {
    padding: 15px 10px;
    background: yellow;
    border: 0px;
    border-radius: 5px;
    font-weight: 700;
}

.menu._active .menu__list {
    display: block;
}

.menu._active .menu__button span:first-child {
    display: none;
}

.menu._active .menu__button span:last-child {
    display: block;
}

.menu__button span:first-child {
    display: block;
}

.menu__button span:last-child {
    display: none;
}

.menu__list {
    margin: 0;
	padding: 15px;
    background-color: #77608d;
}

ul {
	list-style-type: none;
}

.menu__list li:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.menu__link {
    color: #fff;
    font-size: 16px;
	text-decoration: none;	
}

.menu__link:hover {
    color: #eb3a04;
}

a.link {
    color: #FFE400;
}

.block-for-mouse {
    display: grid;
    /* изменить на сокращённую запись */
    grid-template-rows: repeat(3, 1fr) ;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items:  center;
    /* довести до квадрата */
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #2a4d52a9;
}

.block-for-mouse span {
   padding: 10px 15px;
}

/* Drag & drop example */
.drag-field {
	width: 400px;
	height: 300px;
	background-color: #7a956b;
	position: relative;
}

.drag-field__item {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: move;
	background-color: #77608d;
}

.drag-field__point {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 20%;
	top: 40%;
	background-color: #45553d;
	transition: all 0.3s ease 0s;
}

.drag-field__point._active {
	box-shadow: inset 0px 0px 10px 5px #333f2d;
}


/* MDN example */
body {
	/* Prevent the user selecting text in the example */
	user-select: none;
}
  
#draggable {
	text-align: center;
	background: white;
}
  
#container {
	width: 200px;
	height: 20px;
	background: blueviolet;
	padding: 10px;
}
  
.dragging {
	border: 3px solid red;
}
  
/* Drag'n'drop by Alexander Lyshenko */
.area-1,.area-2 {
	margin-bottom: 10px;
	height: 100px;
	width: 100%;
	border: 2px solid #e0ab38;
}

/* Home work */
.search-form {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	width: 300px;
}

.search-field {
	visibility: hidden;
	margin: 5px;
	padding: 2px 3px;
	border: 1.5px solid black;
	border-radius: 20px;
	max-width: 200px;
	height: 20px;
}

.search-field.active {
	visibility:visible;
}

.search-img {
	display: block;
	width: 20px;
	cursor: pointer;
}

.search-counter {
	padding-left: 20px;
	display: none;
}

.search-counter.active {
	display: block;
}